.container{
    position: relative;
    width: 400px;
    height: 400px;
    align-content: center;
    background-color: white;
  }

  #centerbrand{
    position: relative;
    width: 400px;
    height: 100px;
  }
  
  #brand{
      position: absolute;
      width: 100px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
  }

.btn-success{
    background-color: #008CBA;
    border: none;
    padding: 10px 159px;
}

.btn-success:hover{
    transition-duration: 0.4s;
    opacity: 0.7;
}

