
<div class="container">

        <a class="nav-link" class="btn btn-primary " routerLinkActive="/signUpNurse" routerLink="/signUpNurse"><img src="/assets/images/nurse.svg" width="100" height="100"><HR><B><font style="bond" color="white">ENFERMERO/A</font></B></a>

    &nbsp;
        <a class="nav-link" class="btn btn-primary " routerLinkActive="/signUpPatient" routerLink="/signUpPatient"><img src="/assets/images/patient.svg" width="100" height="100"><HR><B><font style="bond" color="white">PACIENTE</font></B></a>

</div>


