<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="/home">NYRS
        <img src="/assets/brand/brand.png" width="80" height="50">
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto nav.pills">
        <li *ngIf="isLoggedIn()"  class="nav-item">
          <a class="nav-link" routerLinkActive="/home" routerLink="/home">Inicio</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="/nursingservices" routerLink="/nursingservices">Servicios de Enfermeria</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLinkActive="/requests" routerLink="/requests">Solicitudes</a>
        </li>

      </ul>
      <ul class="nav justify-content-end nav-pills">
        <li  *ngIf="isLoggedIn()" class="nav-item">
          <a href="#" class="nav-link" (click)="signOut()"><font color="white">Salir</font></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>