<br>
<h2  background="/assets/images/fondoblanco.png">Solicitudes</h2>
<table class="table" background="/assets/images/fondoblanco.png">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Paciente</th>
        <th>Enfermera</th>
        <th>Aceptado</th>
        <th>Servicio</th>
    </tr>
    </thead>
    <tr *ngFor="let request of requestlist">
        <td>{{request.date}}</td>
        <th>{{request.patientId}}</th>
        <th>{{request.nurseId}}</th>
        <th>{{request.accepted}}</th>
        <th>{{request.nursingservices.name}}: {{request.nursingservices.description}}</th>
    </tr>
</table>