<div class="container">
    <br>
    <div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        <img src="/assets/images/mother.svg" width="70" height="70"> Maternidad</a>

        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/posoperatorio.svg" width="70" height="70"> Postoperatorio</a>
    </div>
    <br>
    <div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/heart.svg" width="70" height="70"> Transplatados</a>

        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/massage.svg" width="70" height="70"> Terapia</a>
    </div>
    <br>
    <div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/grandfather.svg" width="70" height="70"> Adulto Mayor</a>

        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/doctor.svg" width="70" height="70"> Paliativos</a>
    </div>
    <br>
    <div>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                <img src="/assets/images/medicine.svg" width="70" height="70"> Compra de Equipos</a>
    </div>
</div>
